.content {
  width: 640px;
  height: 480px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -240px 0 0 -320px;
}

.content #game {
  width: 640px;
  height: 480px;
  margin: 0px;
  padding: 0px;
}

.content #who-made-what {
  width: 640px;
  position: relative;
  top: -40px;
  text-align: center;
}

.content #who-made-what p {
  color: #fff;
  font-size: 14px;
}

.content #who-made-what a {
  text-decoration: none;
}

.content #who-made-what a, a:visited {
  color: yellow;
}
